Repository v-ut-d/vutd-shovel: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier -w", "eslint --fix"],
  "*.json": "prettier -w"
}

[update]set commands only when they have a change
  src/commands/index.ts
Due: prettier -w, eslint --fix

[fix]Remove unnecessary console.log
  src/commands/index.ts
Due: prettier -w, eslint --fix

change license to GPLv2
  LICENSE
Due: none

[add]Add copyrights notice
  README.md
Due: none

[add]Add auto merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: none

[update]Update contributing.md
  CONTRIBUTING.md
Due: none

[update]Small changes in expression
  CONTRIBUTING.md
Due: none

Create docker-image.yml
  .github/workflows/docker-image.yml
Due: none

[add]Add asset upload
  .github/workflows/docker-image.yml
Due: none

[clean]remove g++ and make from dockerfile
  Dockerfile
Due: none

[add]Add docker-compose.yml
  docker-compose.yml
Due: none

[add]Add DATABASE_URL
  docker-compose.yml
Due: none

Create docker-publish.yml
  .github/workflows/docker-publish.yml
Due: none

[fix]Fix volume settings and migration was missing
  docker-compose.yml
Due: none

[update]specify bot token by external env var
  docker-compose.yml
Due: none

[update]Rename bot token to VUTD_SHOVEL_BOT_TOKEN
  docker-compose.yml
Due: none

[add]Add devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: prettier -w

[fix]Add trailing newline
  docker-compose.yml
Due: none

[update]move prisma migrate deploy to package.json
  docker-compose.yml
  package.json
Due: prettier -w

[clean]Remove unnecessary NODE_ENV=production
  docker-compose.yml
Due: none

[clean]remove confusing ARG
  .devcontainer/Dockerfile
Due: none

[update]specify voice out of docker image
  Dockerfile
  docker-compose.yml
Due: none

[fix]Change node version to node16
  Dockerfile
Due: none

[update]Update package version
  package.json
Due: prettier -w

[update]Use docker image in ghcr.io
  docker-compose.yml
Due: none

npm update
  package-lock.json
Due: prettier -w

fix readme
  README.md
Due: none

[fix]Limit memory and cpus
  docker-compose.yml
Due: none

[fix]omit tdmelodic_openjtalk dictionary
  script/dict.sh
Due: none

[update]Fixed CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

[update] added devcontainer setup to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

[add]Add build for arm
  .github/workflows/docker-publish.yml
Due: none

[fix]Fix TS2345 issue in room.ts
  src/classes/room.ts
Due: prettier -w, eslint --fix

[add]Add arm64 support in dockerfile
  Dockerfile
Due: none

[fix]Setup qemu first
  .github/workflows/docker-publish.yml
Due: none

[add] Added various markdown replacers
  src/classes/preprocessor.ts
Due: prettier -w, eslint --fix

Update README.md
  README.md
Due: none

[fix]Fix CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

[update]Synchronously join voiceChat
  src/classes/client.ts
  src/classes/room.ts
Due: prettier -w, eslint --fix

[update]Implement RoomManager
  src/commands/cancel.ts
  src/commands/dict/delete.ts
  src/commands/dict/set.ts
  src/commands/end.ts
  src/commands/setting/set.ts
  src/commands/start.ts
  src/commands/voice/get.ts
  src/commands/voice/random.ts
  src/commands/voice/set.ts
  src/rooms.ts
Due: prettier -w, eslint --fix
