Repository v-ut-d/vutd-shovel: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --fix

add speakers
  src/speakers/base.ts
  src/speakers/index.ts
  src/speakers/openjtalk.ts
Due: prettier -w, eslint --fix

update db to accept any types of voice settings
  prisma/migrations/20220730111947_generalize_voice_settings/migration.sql
  prisma/schema.prisma
Due: none

stop using speaker and use speakerManager
  src/classes/index.ts
  src/classes/room.ts
  src/classes/speaker.ts
  src/commands/voice/get.ts
  src/commands/voice/index.ts
  src/commands/voice/openjtalk.ts
  src/commands/voice/random.ts
  src/components/voice.ts
  src/rooms.ts
  src/utils.ts
Due: prettier -w, eslint --fix

change var name following rooms
  src/classes/room.ts
  src/commands/voice/get.ts
  src/commands/voice/openjtalk.ts
  src/commands/voice/random.ts
  src/speakers/index.ts
Due: prettier -w, eslint --fix

try esm
  package-lock.json
  package.json
  src/classes/preprocessor.ts
  src/utils.ts
  tsconfig.json
Due: prettier -w, eslint --fix

move synthesis queue to speakers
  src/classes/room.ts
  src/speakers/base.ts
  src/speakers/index.ts
  src/speakers/openjtalk.ts
  src/speakers/queue/SequencialPromiseQueue.test.ts
  src/speakers/queue/SequencialPromiseQueue.ts
  src/utils.ts
Due: prettier -w, eslint --fix

voicevox
  package-lock.json
  src/commands/voice/index.ts
  src/commands/voice/voicevox.ts
  src/data/voicevox.json
  src/speakers/index.ts
  src/speakers/voicevox.ts
Due: prettier -w, eslint --fix

fix bugs
  src/classes/client.ts
  src/commands/end.ts
  src/index.ts
  src/rooms.ts
Due: prettier -w, eslint --fix

update dependencies
  package-lock.json
  package.json
  src/speakers/index.ts
Due: prettier -w, eslint --fix

add voicevox engine server
  Dockerfile
  README.md
  docker-compose.yml
  src/speakers/voicevox.ts
  src/utils.ts
Due: prettier -w, eslint --fix

udpate node-openjtalk-binding
  package-lock.json
Due: prettier -w

fix `ffmpeg/avconv not found` error
  Dockerfile
Due: none

fix error silencing
  src/handler.ts
Due: prettier -w, eslint --fix

better exiting behavior
  src/handler.ts
  src/index.ts
Due: prettier -w, eslint --fix

update speaker list
  src/data/voicevox.json
Due: prettier -w

dynamic speaker loading
  src/commands/index.ts
  src/commands/voice/index.ts
  src/commands/voice/voicevox.ts
  src/data/voicevox.json
  src/data/voicevox_credits.json
  src/handler.ts
  src/speakers/base.ts
  src/speakers/openjtalk.ts
  src/speakers/voicevox.ts
Due: prettier -w, eslint --fix

add style notice
  src/commands/voice/voicevox.ts
Due: prettier -w, eslint --fix

implement advanced queue
  src/classes/room.ts
  src/speakers/base.ts
  src/speakers/index.ts
  src/speakers/openjtalk.ts
  src/speakers/queue/Scheduler.ts
  src/speakers/queue/SequencialPromiseQueue.test.ts
  src/speakers/queue/SequencialPromiseQueue.ts
  src/speakers/voicevox.ts
  src/utils.ts
Due: prettier -w, eslint --fix

enable concurrency
  src/speakers/queue/Scheduler.ts
Due: prettier -w, eslint --fix

improve error handling
  src/speakers/openjtalk.ts
  src/speakers/queue/Scheduler.ts
  src/speakers/voicevox.ts
Due: prettier -w, eslint --fix

utilize docker cache
  Dockerfile
Due: none

add room error handling
  src/rooms.ts
Due: prettier -w, eslint --fix

fix synthesis queue
  src/speakers/queue/Scheduler.ts
Due: prettier -w, eslint --fix

concat audio if possible
  package-lock.json
  package.json
  src/speakers/queue/AudioQueue.ts
  src/speakers/queue/Scheduler.ts
Due: prettier -w, eslint --fix

remove unused vars
  src/speakers/queue/Scheduler.ts
Due: prettier -w, eslint --fix

build(deps): upgrade NPM packages (automated)
  package-lock.json
Due: prettier -w

Path conditions:
  prettier -w: (any of: *.ts) or (any of: *.json)
  eslint --fix: any of: *.ts
