Repository v-ut-d/vutd-shovel: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier -w", "eslint --fix"],
  "*.json": "prettier -w"
}

delete space after english word
  alkana.json
Due: prettier -w

preprocess unicode emojis
  emoji.json
  src/classes/preprocesser.ts
Due: prettier -w, eslint --fix

add ww replacer
  src/classes/preprocesser.ts
Due: prettier -w, eslint --fix

relocate jsons
  data/alkana.json
  data/emoji.json
  src/classes/preprocesser.ts
Due: prettier -w, eslint --fix

update deps
  package-lock.json
Due: prettier -w

force type import
  src/classes/preprocesser.ts
  src/classes/speaker.ts
  src/commands/cancel.ts
  src/commands/end.ts
  src/commands/index.ts
  src/commands/start.ts
  src/commands/voice/get.ts
  src/commands/voice/index.ts
  src/commands/voice/random.ts
  src/commands/voice/set.ts
  src/components/end.ts
  src/components/start.ts
  src/components/voice.ts
  src/handler.ts
  src/rooms.ts
  src/utils.ts
  tsconfig.json
Due: prettier -w, eslint --fix

organize re-exports
  src/classes/room.ts
  src/commands/voice/get.ts
  src/commands/voice/random.ts
  src/commands/voice/set.ts
  src/components/index.ts
  src/utils.ts
Due: prettier -w, eslint --fix

remove normalize-text
  package-lock.json
  package.json
  src/classes/preprocesser.ts
Due: prettier -w, eslint --fix

preprocess omit
  src/classes/preprocesser.ts
Due: prettier -w, eslint --fix

bump node-openjtalk-binding
  package-lock.json
  package.json
Due: prettier -w

debug preprocesser order
  src/classes/preprocesser.ts
Due: prettier -w, eslint --fix

[add]Add additional dictionary support
  package-lock.json
  package.json
  script/dict.sh
  src/classes/speaker.ts
Due: prettier -w, eslint --fix

[update]better cleaning
  script/dict.sh
Due: none

[fix]fix tmp directory is removed
  package-lock.json
  script/dict.sh
Due: prettier -w

[fix]Fix filename typo
  src/classes/index.ts
  src/classes/preprocessor.ts
Due: prettier -w, eslint --fix

[add]Add test for preprocessor
  src/classes/preprocessor.test.ts
Due: prettier -w, eslint --fix

Comment-out failing tests
  src/classes/preprocessor.test.ts
Due: prettier -w, eslint --fix

[add]Add launch.json
  .vscode/launch.json
Due: prettier -w

[update]Copy script directory before `npm i`
  Dockerfile
Due: none

[update]Small changes on package.json
  package-lock.json
  package.json
Due: prettier -w

[fix]Fix the rest of preprocessor typo
  src/classes/index.ts
  src/classes/preprocessor.ts
  src/classes/room.ts
Due: prettier -w, eslint --fix

set permission
  script/dict.sh
Due: none

fix Dockerfile
  Dockerfile
  package.json
Due: prettier -w

simplify URL_REPLACER
  src/classes/preprocessor.test.ts
  src/classes/preprocessor.ts
Due: prettier -w, eslint --fix

debug WARA_REPLACER
  src/classes/preprocessor.test.ts
  src/classes/preprocessor.ts
Due: prettier -w, eslint --fix

styling
  src/classes/preprocessor.test.ts
Due: prettier -w, eslint --fix

debug OMIT_REPLACER
  src/classes/preprocessor.test.ts
  src/classes/preprocessor.ts
Due: prettier -w, eslint --fix

[add]Add prisma
  package-lock.json
  package.json
  prisma/migrations/20220208090448_initial_migration/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: prettier -w

move alkana & emoji data
  Dockerfile
  src/classes/preprocessor.ts
  src/data/alkana.json
  src/data/emoji.json
Due: prettier -w, eslint --fix

change shell binary
  package.json
Due: prettier -w

[add]Add emoji replacer
  prisma/migrations/20220208090448_initial_migration/migration.sql
  prisma/migrations/20220208232238_initial_migration/migration.sql
  prisma/schema.prisma
  src/classes/preprocessor.ts
  src/database/prisma.ts
Due: prettier -w, eslint --fix

[update]variable name and small logic improvement
  prisma/schema.prisma
  src/classes/preprocessor.ts
  src/classes/room.ts
Due: prettier -w, eslint --fix

change access specifier
  src/classes/preprocessor.ts
Due: prettier -w, eslint --fix

change name
  src/classes/preprocessor.ts
  src/database/prisma.ts
Due: prettier -w, eslint --fix

change name
  src/classes/preprocessor.ts
  src/database/index.ts
Due: prettier -w, eslint --fix

add /emoji-bulk
  src/commands/emoji-bulk/export.ts
  src/commands/emoji-bulk/import.ts
  src/commands/emoji-bulk/index.ts
  src/commands/emoji-bulk/keys.ts
  src/commands/index.ts
  src/utils.ts
Due: prettier -w, eslint --fix

[add]Add dict command
  src/classes/room.ts
  src/commands/dict/delete.ts
  src/commands/dict/get.ts
  src/commands/dict/index.ts
  src/commands/dict/set.ts
  src/commands/index.ts
  src/components/dict.ts
  src/components/index.ts
Due: prettier -w, eslint --fix

[fix]Fix prisma path
  src/commands/dict/delete.ts
  src/commands/dict/get.ts
  src/commands/dict/set.ts
Due: prettier -w, eslint --fix

[fix]Fix errormessageembed message
  src/commands/dict/delete.ts
  src/commands/dict/get.ts
  src/commands/dict/set.ts
Due: prettier -w, eslint --fix
