Repository v-ut-d/vutd-shovel: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --fix

[update]handle exit event in rooms
  src/classes/room.ts
  src/handler.ts
  src/index.ts
  src/rooms.ts
Due: prettier -w, eslint --fix

[update]Move voiceStateUpdate handler to rooms
  src/classes/room.ts
  src/handler.ts
  src/index.ts
  src/rooms.ts
Due: prettier -w, eslint --fix

[fix]Remove all event listeners on destroy
  src/classes/room.ts
Due: prettier -w, eslint --fix

[fix]Clear cache on destroyAll
  src/rooms.ts
Due: prettier -w, eslint --fix

[clean]minor update
  src/rooms.ts
Due: prettier -w, eslint --fix

[add]Add try-catch to onExit
  src/handler.ts
Due: prettier -w, eslint --fix

[fix]Reduce function nests
  src/handler.ts
Due: prettier -w, eslint --fix

[add]Add EventEmitter to ClientManager
  src/classes/client.ts
  src/index.ts
Due: prettier -w, eslint --fix

[fix]Fix `this` issue in onVoiceStateUpdate
  src/handler.ts
Due: prettier -w, eslint --fix

[fix]Client switch in onVoiceStateUpdate
  src/handler.ts
  src/rooms.ts
Due: prettier -w, eslint --fix

[fix]Destroy when the last user goes to another VC
  src/rooms.ts
Due: prettier -w, eslint --fix

[clean]remove voice group hack(voice v0.9.0)
  src/classes/room.ts
Due: prettier -w, eslint --fix

Delete dependabot.yml
  .github/dependabot.yml
Due: none

Delete dependabot-auto-merge.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

Create npm-update.yml
  .github/workflows/npm-update.yml
Due: none

build(deps): upgrade NPM packages (automated)
  package-lock.json
Due: prettier -w

update opus
  package-lock.json
  package.json
Due: prettier -w

override discord-api-types fixes discordjs/discord.js#7273
  package-lock.json
  package.json
Due: prettier -w

faster ci
  Dockerfile
Due: none

optimize Dockerfile
  Dockerfile
  package.json
Due: prettier -w

remove code related to setting command permission
  prisma/schema.prisma
  src/classes/room.ts
  src/commands/dict-bulk/index.ts
  src/commands/dict/index.ts
  src/commands/emoji-bulk/index.ts
  src/commands/index.ts
  src/commands/setting/get.ts
  src/commands/setting/index.ts
  src/commands/setting/set.ts
  src/components/setting.ts
  src/handler.ts
  src/index.ts
Due: prettier -w, eslint --fix

fix remained mentions to `role`
  prisma/migrations/20220714073359_remove_role_settings/migration.sql
  src/classes/preprocessor.test.ts
  src/commands/setting/set.ts
Due: prettier -w, eslint --fix

major update packages
  package-lock.json
  package.json
Due: prettier -w

format prisma schema
  prisma/schema.prisma
Due: none

fix sed
  Dockerfile
Due: none

fix architecture specification
  Dockerfile
Due: none

specify binary target
  prisma/schema.prisma
Due: none

fix dictionary not built
  Dockerfile
Due: none

clean dict.sh output
  script/dict.sh
Due: none

Update CONTRIBUTING.md Because I changed npm scripts
  CONTRIBUTING.md
Due: none

add comment to Dockerfile
  Dockerfile
Due: none

update comment
  Dockerfile
Due: none

reformat CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

update packages
  package-lock.json
  package.json
Due: prettier -w

fix types
  src/classes/room.ts
  src/commands/cancel.ts
  src/commands/dict-bulk/export.ts
  src/commands/dict-bulk/import.ts
  src/commands/dict-bulk/index.ts
  src/commands/dict/delete.ts
  src/commands/dict/get.ts
  src/commands/dict/index.ts
  src/commands/dict/set.ts
  src/commands/emoji-bulk/export.ts
  src/commands/emoji-bulk/import.ts
  src/commands/emoji-bulk/index.ts
  src/commands/emoji-bulk/keys.ts
  src/commands/end.ts
  src/commands/help.ts
  src/commands/index.ts
  src/commands/setting/get.ts
  src/commands/setting/index.ts
  src/commands/setting/set.ts
  src/commands/start.ts
  src/commands/voice/get.ts
  src/commands/voice/index.ts
  src/commands/voice/random.ts
  src/commands/voice/set.ts
  src/components/base.ts
  src/handler.ts
  src/index.ts
Due: prettier -w, eslint --fix

chnge snowflake length to 19 digits
  prisma/migrations/20220730005304_change_snowflake_length_to_19/migration.sql
  prisma/schema.prisma
  src/classes/preprocessor.ts
  src/commands/dict/delete.ts
  src/commands/dict/get.ts
  src/commands/dict/set.ts
  src/commands/emoji-bulk/import.ts
  src/components/dict-bulk.ts
  src/components/emoji-bulk.ts
Due: prettier -w, eslint --fix

Path conditions:
  prettier -w: (any of: *.ts) or (any of: *.json)
  eslint --fix: any of: *.ts
